table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  padding: 0;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

button {
  padding: 16px 20px;
  border-radius: 4px;
}

.opened {
  color: green;
  font-weight: bold;
}

.not-opened {
  color: red;
}

.text-href {
  text-decoration: none;
  color: black;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
  width: 600px;
}

.wrapper {
  display: flex;
  justify-content: center;
}